# Environment variables
.env
*.env

# Python virtual environments
venv/
.venv/
env/
ENV/

# Python cache files (optional but recommended)
__pycache__/
*.pyc
*.pyo
*.pyd
# JetBrains IDE (IntelliJ, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr

*.db
*.sqlite3
